<div class="col-md-6 col-md-offset-3">
  <h1>Séances du stage {{currentTraining.name}}</h1>
</div>

<div class="card-deck">
  <a *ngFor="let extendedCourse of extendedCourses">
    <div (click)="enroll(extendedCourse)" class="card" [ngClass]="{'border-dark': !extendedCourse.isSelected, 'border-success': extendedCourse.isSelected}">
      <img class="card-img-top" src="http://placehold.it/200x125" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{extendedCourse.begin}} au {{extendedCourse.end}}</h5>
        <p class="card-text">INSERER HORAIRES</p>
        <p class="card-text">{{extendedCourse.price | currency:'EUR':'symbol'}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </a>
</div>