<nav class="navbar navbar-dark bg-primary fixed-top " role="navigation">
  <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" [routerLink]="['/']">Menu</a>
          <!-- <a [hidden]="!isAdmin" class="navbar-brand" [routerLink]="['/users']">Utilisateurs</a> -->
          <a class="navbar-brand" [routerLink]="['/trainings']">Stages</a>
          <a class="navbar-brand" [routerLink]="['/enrollments/enrollment-list']">Inscriptions</a>
          <a class="navbar-brand" [routerLink]="['/invoices']">Factures</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                    <a [routerLink]="['/login']">Se connecter</a>
              </li>
          </ul>
      </div>
  </div>
  <button class="btn btn-primary pull-right" *ngIf="isLoggedIn$ | async"[routerLink]="['/login']">Se déconnecter</button>
  <button class="btn btn-primary pull-right" *ngIf="!isLoggedIn$ | async"[routerLink]="['/login']">Se connecter</button>
</nav>
<div class="alerting">
<app-alert></app-alert>
</div>