<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-link" [routerLink]="['/']">Menu</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/trainings']">Stages</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/enrollments/enrollment-list']">Inscriptions</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/invoices']">Factures</a>
            </li>
        </ul>
        <button class="btn btn-primary pull-right" *ngIf="isLoggedIn$ | async" [routerLink]="['/login']">Se déconnecter</button>
    <button class="btn btn-primary pull-right" *ngIf="!isLoggedIn$ | async" [routerLink]="['/login']">Se connecter</button>
      </div>
    </div>
  </nav>